body {
    background-color: #393939;
    overflow: hidden;
    margin: 0;
}

#main_canvas_container {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

@media all and (min-width: 750px) {
    #main_canvas_container {
        right: 310px;
    }
}

div.backgr_checker {
    position: absolute;
    right: 44px;
    top: 44px;
    width: 64px;
    height: 64px;
    background: url(images/backgr_checker.png);
}

div.info_corner {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

div.info_corner.left_up {
    top: 5px;
    left: 5px;
}

div.info_corner.left_down {
    bottom: 5px;
    left: 5px;
}

div.info_corner.right_down {
    bottom: 5px;
    right: 5px;
}

div.info_corner.right_up {
    top: 5px;
    right: 5px;
}

div.info_corner_backgr {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.7;
}

div.warning_information {
    display: none;
    color: #CD5C5C;
    font-size: 14px;
}

span.info_corner_text {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #00FF00;
    padding: 0px 5px;
    display: inline-block;
}

#controls_container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
}

@media all and (min-width: 750px) {
    #controls_container {
        width: 310px;
    }
}


#manifest {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -15px -15px;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    border-width: 0 !important;
    padding: 0 !important;
    margin: 5px 0 !important;
}

.text-wrapper {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.text-wrapper * {
    margin: 10px 10px;
}

.center-wrapper {
    text-align: center;
}

.scene-settings {
    margin: 10px 10px;
}

.color_selector {
    position: relative;
    width: 36px;
    height: 36px;
}

.color_selector div {
    position: relative;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(images/select.png) center;
}

div.colapsed_content {
    margin-bottom: 5px;
    min-height: 50px;
    padding: 5px;
}

div.menu_items {
    margin-top: -2px;
}

div.left_block_padding {
    padding-left: 5px;
}

/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {
    background: #333 /*{c-body-background-color}*/;
    border-color: #333 /*{c-body-border}*/;
    color: #ffffff /*{c-body-color}*/;
    text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #f3f3f3 /*{c-body-shadow-color}*/;
}

.ui-body-c {
    border-width: 0px;
    border-style: solid;
}

.min_font {
    font-size: 12px;
}

#lights_cont {
    display: inline-block;
    float: right;
    width: 50px;
    height: 19px;
    background: url(images/lights_container.png) no-repeat;
}

#red_lights {
    visibility: hidden;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 0px;
    float: left;
    background: url(images/lights.png);
}

#yellow_lights {
    visibility: hidden;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 0px;
    margin-top: 3px;
    margin-left: 4px;
    background: url(images/lights.png) center;
}

#green_lights {
    visibility: hidden;
    margin-right: 0px;
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 4px;
    background: url(images/lights.png) right;
}

div#fps_container {
    position: absolute;
    top: 23px;
    right: 20px;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    color: #000;
    z-index: 1;
}

div.ui-controlgroup-controls {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

div.ui-controlgroup-controls .ui-mini {
    width: 30%;
    box-sizing: border-box;
}

div.ui-controlgroup-controls .ui-mini:nth-child(1) {
    padding-right: 8px;
}

div.ui-controlgroup-controls .ui-mini:nth-child(2) {
    width: 38%;
}

div.ui-controlgroup-controls .ui-mini:nth-child(3) {
    padding-right: 8px;
    width: 32%;
}

.hmd_container {

}
