<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Blend4Web SDK</title>

    <link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png" />
    <link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png" />
    <link rel="shortcut icon" href="/index_assets/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png" />

    <link rel="stylesheet" type="text/css" href="/index_assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/index_assets/css/project_create.css">

    <script src="/index_assets/js/create_form.js" type="text/javascript"></script>
</head>

<body>
    <h1>Create a new project</h1>

    <div class="row">
        <form name="create_form" action="/project/init/-b/${blender_exec}/" onsubmit="return false;">
            <table class="create">
                <thead>
                    <tr>
                        <th colspan="2">
                            <a id="back_to_index" href="/project/"><div></div><span>Back to Projects</span></a>
                            <a id="help" href="/deploy/doc/en/project_manager.html#create-new-project"><div></div><span>Help</span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="create">
                            <h2>Project Name (required)</h2>
                            <p class="create_hint">for better compatibility, use only letters and underscores</p>
                        </td>
                        <td class="create">
                            <input type="text" name="project_name" class="create">
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Project Title (optional)</h2>
                            <p class="create_hint">choose a human-readable name</p>
                        </td>
                        <td class="create">
                            <input type="text" name="project_title" class="create">
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Project Author / Company (optional)</h2>
                            <p class="create_hint">choose a human-readable name</p>
                        </td>
                        <td class="create">
                            <input type="text" name="project_author" class="create">
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Create Application Starter Files</h2>
                            <p class="create_hint">create starter html/js/css files</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="project_copy_app_templates" name="project_copy_app_templates">
                                <label for="project_copy_app_templates" class="check"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Create Scene Starter Files</h2>
                            <p class="create_hint">create starter blend/json/bin files</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="project_copy_scene_templates" name="project_copy_scene_templates">
                                <label for="project_copy_scene_templates" class="check"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Use Material Library</h2>
                            <p class="create_hint">copy material library blend and asset files into your project directory</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="project_copy_mat_library" name="project_copy_mat_library">
                                <label for="project_copy_mat_library" class="check"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Copy Project Management Script</h2>
                            <p class="create_hint">simplifies project management for users who prefer using command line tools</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="project_copy_project_script" name="project_copy_project_script">
                                <label for="project_copy_project_script" class="check"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Bundled Project</h2>
                            <p class="create_hint">all project files will be placed into a single directory</p>
                            <p class="create_hint">good for small projects such as tutorials etc</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="project_bundle" name="project_bundle">
                                <label for="project_bundle" class="check"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Engine Binding Type</h2>
                            <p class="create_hint">if unsure, leave the default value</p>
                            <p class="create_hint">see help for more info</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="radio" id="proj_ext" name="project_engine_type" value="external" checked>
                                <label for="proj_ext" class="radio">External</label>
                                <input type="radio" id="proj_compile" name="project_engine_type" value="compile">
                                <label for="proj_compile" class="radio">Compile</label>
                            </div>
                            <div class="input_group">
                                <input type="radio" id="proj_copy" name="project_engine_type" value="copy">
                                <label for="proj_copy" class="radio">Copy</label>
                                <input type="radio" id="proj_upd" name="project_engine_type" value="update" disabled>
                                <label for="proj_upd" class="radio">Update</label>
                            </div>
                            <div class="input_group">
                                <input type="radio" id="proj_json" name="project_engine_type" value="webplayer_json">
                                <label for="proj_json" class="radio">WebPlayer JSON</label>
                                <input type="radio" id="proj_html" name="project_engine_type" value="webplayer_html">
                                <label for="proj_html" class="radio">WebPlayer HTML</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>JavaScript Obfuscation Level</h2>
                            <p class="create_hint">if unsure, leave the default value</p>
                            <p class="create_hint">see help for more info</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="radio" id="sim_lev" name="project_opt_level" value="simple" checked>
                                <label for="sim_lev" class="radio">Simple</label>
                            </div>
                            <div class="input_group">
                                <input type="radio" id="adv_lev" name="project_opt_level" value="advanced">
                                <label for="adv_lev" class="radio">Advanced</label>
                            </div>
                            <div class="input_group">
                                <input type="radio" id="white_lev" name="project_opt_level" value="whitespace">
                                <label for="white_lev" class="radio">Whitespace Only</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create">
                            <h2>Web Player Params</h2>
                            <p class="create_hint">default Web Player URL params</p>
                        </td>
                        <td class="create">
                            <div class="input_group">
                                <input type="checkbox" id="wpp_show_fps" name="show_fps">
                                <label for="wpp_show_fps" class="check">Show FPS (show_fps)</label>
                                <input type="checkbox" id="wpp_autorotate" name="autorotate">
                                <label for="wpp_autorotate" class="check">Auto-rotate camera (autorotate)</label>
                                <input type="checkbox" id="wpp_no_social" name="no_social">
                                <label for="wpp_no_social" class="check">Disable social network buttons
                                        (no_social)</label>
                                <input type="checkbox" id="wpp_alpha" name="alpha">
                                <label for="wpp_alpha" class="check">Background transparency (alpha)</label>
                                <input type="checkbox" id="wpp_compressed_textures" name="compressed_textures">
                                <label for="wpp_compressed_textures" class="check">Use compressed textures
                                        (compressed_textures)</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="create" colspan=2 style="text-align: center">
                            <button><div></div><span>Create Project</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
