@font-face {
    font-family: "Ruslan";
    src: url("fonts/Ruslan_Display/RuslanDispalay_edit.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linux_Biolinum";
    src: url("fonts/Linux_Biolinum/LinBiolinum_R.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linux_Biolinum_Bold";
    src: url("fonts/Linux_Biolinum/LinBiolinum_RB.otf");
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
    background-color: transparent;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

img#start_game {
    cursor: pointer;
    top: 50%;
    width: 72vh;
    margin-top: 16vh;
    z-index: 2;
}

img#start_game_glow {
    top: 50%;
    width: 66vh;
    margin-top: 17vh;
    z-index: 1;
}

img#start_game_hover {
    top: 50%;
    width: 66vh;
    margin-top: 17vh;
    z-index: 1;
    display: none;
}

@media (orientation : portrait) {
    img#start_game {
        width: 66vw;
        margin-top: 17vw;
    }

    img#start_game_glow {
        width: 66vw;
        margin-top: 17vw;
    }

    img#start_game_hover {
        width: 66vw;
        margin-top: 17vw;
    }
}

div#control_circle {
    position: absolute;
    background-image: url(interface/controls_x.png);
    width: 185px;
    height: 160px;
    visibility: hidden;
}

div#controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 199px;
    height: 159px;
    background-image: url(interface/action_cont.png);
    margin-right: 10px;
    margin-bottom: 10px;
    visibility: hidden;
}

div#control_tap {
    position: absolute;
    background-image: url(interface/tap_50.png);
    width: 50px;
    height: 50px;
    visibility: hidden;
}

div#control_jump {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
}

div#control_attack {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
}

div#life_bar {
    top: 0px;
    width: 229px;
    height: 51px;
    background-image: url(interface/life_bar_main.png);
    visibility: hidden;
}

div#life_bar_main {
    position: absolute;
    width: 150px;
    height: 17px;
    margin-top: 13px;
    margin-left: 17px;
}

div#life_bar_green {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(interface/life_bar_green.png);
    width: 100%;
    height: 100%;
}

div#life_bar_red {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(interface/life_bar_red.png);
    width: 0;
    height: 100%;
    background-position: right center;
}

div#life_bar_mid {
    position: absolute;
    left: 211px;
    top: 10px;
    background-image: url(interface/life_bar_mid.png);
    width: 4px;
    height: 20px;
}

div#life_bar_mid {
    position: absolute;
    left: 211px;
    top: 10px;
    background-image: url(interface/life_bar_mid.png);
    width: 4px;
    height: 20px;
}

div#canvas3d {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

div#canvas3d div {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (orientation : portrait) {
    html {
        width: 100vh;
        position: absolute;
        height: 100vw;
        -moz-transform: rotate(-90deg) translateY(-50vh) translateX(50vw);
        -ms-transform: rotate(-90deg) translateY(-50vh) translateX(50vw);
        -webkit-transform: rotate(-90deg) translateY(-50vh) translateX(50vw);
        transform: rotate(-90deg) translateY(-50vh) translateX(50vw);
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        top: 50%;
        left: 50%;
    }
}

div#replay {
    top: 30%;
    background-repeat: no-repeat;
    background-image: url(interface/replay_desk.png);
    width: 296px;
    height: 236px;
    visibility: hidden;
}

div#victory div,
div#replay div {
    text-align: center;
}

div#victory div span {
    text-align: left;
    color: #fff;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    line-height: 1.25;
}

div#victory .restart_btn span,
div#victory .next_btn span,
div#replay .restart_btn span {
    text-align: left;
    color: #a9a9a9;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    line-height: 40px;
}

div#replay div[lang] span {
    text-align: left;
    color: #fff;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    line-height: 1.25;
}

.next_btn:hover span,
.restart_btn:hover span {
    color: #80d0ff;
}

body[lang="ru"] div#replay div.restart_btn {
    margin-top: 24px;
}

body[lang="en"] div#replay div.restart_btn {
    margin-top: 32px;
}

div#replay div.restart_btn {
    margin-top: 32px;
}

div.restart_btn {
    background-repeat: no-repeat;
    background-image: url(interface/restart_btn.png);
    height: 40px;
    text-align: center;
}

div.restart_btn {
    text-align: left;
    color: #a9a9a9;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

body[lang="ru"] div.restart_btn {
    width: 198px;
}

body[lang="ru"] div.restart_btn:hover {
    width: 198px;
    background-position: 0 -40px;
}

body[lang="en"] div.restart_btn {
    width: 150px;
    background-position: -198px 0;
}

body[lang="en"] div.restart_btn:hover {
    width: 150px;
    background-position: -198px -40px;
}

body[lang="en"] div.restart_btn span[lang="ru"] {
    display: none;
}

body[lang="ru"] div.restart_btn span[lang="en"] {
    display: none;
}

div.next_btn {
    background-repeat: no-repeat;
    background-image: url(interface/next_btn.png);
    height: 40px;
    width: 135px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.next_btn:hover {
    background-position: 0 -40px;
}

div.next_btn span {
    text-align: left;
    color: #a9a9a9;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

div.next_btn:hover span {
    color: #80d0ff;
}

body[lang="en"] div.next_btn span[lang="ru"] {
    display: none;
}

body[lang="ru"] div.next_btn span[lang="en"] {
    display: none;
}

body[lang="ru"] div#replay div[lang="en"] {
    display: none;
}

body[lang="en"] div#replay div[lang="ru"] {
    display: none;
}

body[lang="ru"] div#replay div[lang="ru"] {
    padding-top: 50px;
}

body[lang="en"] div#replay div[lang="en"] {
    padding-top: 62px;
}

body[lang="ru"] div#victory div[lang="en"] {
    display: none;
}

body[lang="en"] div#victory div[lang="ru"] {
    display: none;
}

body[lang="ru"] div#victory div[lang="ru"] {
    padding-top: 50px;
}

body[lang="en"] div#victory div[lang="en"] {
    padding-top: 54px;
}

div#victory div.next_btn {
    margin-top: 30px;
    margin-bottom: 6px;
}

body[lang="ru"] div#victory div.next_btn {
    margin-top: 34px;
    margin-bottom: 6px;
}

div#victory {
    top: 25%;
    background-repeat: no-repeat;
    visibility: hidden;
}

body[lang="ru"] div#victory {
    background-image: url(interface/win_desk_ru.png);
    width: 376px;
    height: 286px;
}

body[lang="en"] div#victory {
    background-image: url(interface/win_desk_en.png);
    width: 296px;
    height: 286px;
}

div#start_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #171717;
    background-position: center top;
    background-size: auto 200%;
    background-repeat: no-repeat;
    opacity: 0;
    background-image: url(interface/title_bg.jpg);
    -moz-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

body[lang="ru"] div#start_cont {
    background-position: center top;
}

body[lang="en"] div#start_cont {
    background-position: center bottom;
}

body[lang="ru"] div#start_cont img#start_game {
    display: inline-block;
}

body[lang="en"] div#start_cont img#start_game {
    display: inline-block;
}

@media (max-height: 320px) {
    div#replay {
        width: 234px;
        height: 156px;
        background-image: url(interface/replay_mobile.png);
    }

    div.restart_btn {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    div.next_btn {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    body[lang="en"] div#replay div[lang="en"] {
        padding-top: 40px;
    }

    body[lang="ru"] div#replay div[lang="ru"] {
        padding-top: 30px;
    }

    body[lang="en"] div#replay div.restart_btn {
        margin-top: 16px;
    }

    body[lang="ru"] div#replay div.restart_btn {
        margin-top: 10px;
    }

    body[lang="ru"] div#victory {
        width: 284px;
        top: 50%;
        height: 190px;
        background-image: url(interface/win_mobile_ru.png);
    }

    body[lang="en"] div#victory {
        width: 234px;
        top: 50%;
        height: 190px;
        background-image: url(interface/win_mobile_en.png);
    }

    div#victory div.next_btn {
        margin-top: 16px;
        margin-bottom: -4px;
    }

    body[lang="ru"] div#victory div[lang="ru"] {
        padding-top: 26px;
    }

    body[lang="ru"] div#victory div.next_btn {
        margin-top: 12px;
        margin-bottom: -4px;
    }

    body[lang="en"] div#victory div[lang="en"] {
        padding-top: 20px;
    }

    div#replay div[lang] span,
    div#victory div[lang] span {
        font-size: 13px;
    }
}

div#quality {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 298px;
    margin-left: -294px;
    height: 60px;
    background-image: url(interface/qual.png);
}

body[lang="ru"] div#start_cont div#quality[quality="high"] {
    background-position: 0 -60px;
}

body[lang="en"] div#start_cont div#quality[quality="low"] {
    background-position: 0 -120px;
}

body[lang="en"] div#start_cont div#quality[quality="high"] {
    background-position: 0 -180px;
}

div#low_qual {
    margin-top: 16px;
    width: 56px;
    height: 34px;
    float: left;
    margin-left: 154px;
    cursor: pointer;
}

body[lang="en"] div#start_cont div#low_qual {
    margin-right: 20px;
    margin-left: 0;
    width: 60px;
    float: right;
}

body[lang="en"] div#start_cont div#high_qual {
    float: right;
    width: 62px;
    margin-left: 0;
}

div#high_qual {
    margin-top: 16px;
    width: 56px;
    height: 34px;
    float: left;
    cursor: pointer;
}

div#languages_bar {
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 293px;
    margin-right: -289px;
    height: 57px;
    background-image: url(interface/lang_ru_en.png);
}

div#lang_ru {
    margin-top: 16px;
    width: 56px;
    height: 34px;
    float: left;
    margin-left: 124px;
    cursor: pointer;
}

div#lang_en {
    margin-top: 16px;
    width: 66px;
    height: 34px;
    float: left;
    cursor: pointer;
}

body[lang="en"] div#start_cont div#languages_bar {
    background-position: 0 -57px;
}

body[lang="en"] div#start_cont div#lang_ru {
    margin-left: 122px;
}

@media (max-width: 640px) {
    div#quality {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: -220px;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }

    body[lang="en"] div#start_cont div#quality[quality="low"] {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: -220px;
    }

    body[lang="en"] div#start_cont div#quality[quality="high"] {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: -220px;
    }

    div#languages_bar {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-right: -220px;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }

    body[lang="en"] div#start_cont div#languages_bar {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-right: -220px;
    }
}

@media (max-height: 520px) {
    div#quality {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin-left: -247px;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }

    body[lang="en"] div#start_cont div#quality[quality="low"] {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin-left: -247px;
    }

    body[lang="en"] div#start_cont div#quality[quality="high"] {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin-left: -247px;
    }

    div#languages_bar {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin-right: -247px;
        transform-origin: bottom;
        -webkit-transform-origin: bottom;
    }

    body[lang="en"] div#start_cont div#languages_bar {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        margin-right: -247px;
    }
}

div#preloader_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(interface/preloader_bg.jpg);
    background-color: #171717;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}

div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 395px;
    height: 134px;
    margin-left: -197px;
    margin-top: -75px;
}

div#prelod_dynamic_path {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-image: url(interface/loader_bar_line.png);
}

div#prelod_static_path > span {
    display: inline-block;
    font-family: Ruslan;
    margin-top: 102px;
    margin-left: 170px;
    font-size: 32px;
    color: #fff;
}

div#game_menu {
    width: 296px;
    height: 364px;
    background-image: url(interface/game_menu_desk.png);
    background-repeat: no-repeat;
    visibility: hidden;
}

div#game_menu div {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

div#game_menu div span {
    line-height: 40px;
    color: #a9a9a9;
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
}

div#game_menu div:hover span {
    color: #80d0ff;
}

body[lang="ru"] div#game_menu div {
    background-image: url(interface/menu_buttons_ru_desk.png);
}

body[lang="en"] div#game_menu div {
    background-image: url(interface/menu_buttons_en_desk.png);
}

div#game_menu div:first-child {
    margin-top: 38px;
    width: 175px;
}

body[lang="en"] div#game_menu div:first-child {
    width: 135px;
}

body[lang="en"] div#game_menu div span.ru {
    display: none;
}

body[lang="ru"] div#game_menu div span.en {
    display: none;
}

div#game_menu div:first-child:hover {
    background-position: 203px 0;
}

body[lang="en"] div#game_menu div:first-child:hover {
    background-position: 168px 0;
}

div#game_menu div:nth-child(2) {
    width: 160px;
    background-position: 0 -40px;
}

body[lang="en"] div#game_menu div:nth-child(2) {
    width: 120px;
}

div#game_menu div:nth-child(2):hover {
    background-position: 204px -40px;
}

body[lang="en"] div#game_menu div:nth-child(2):hover {
    background-position: 168px -40px;
}

div#game_menu div:nth-child(3) {
    width: 142px;
    background-position: 0 -80px;
}

body[lang="en"] div#game_menu div:nth-child(3) {
    width: 142px;
}

body[lang="en"] div#game_menu div:nth-child(3):hover {
    background-position: 168px -80px;
}

div#game_menu div:nth-child(3):hover {
    background-position: 204px -80px;
}

div#game_menu div:nth-child(4) {
    width: 198px;
    background-position: 0 -120px;
}

body[lang="en"] div#game_menu div:nth-child(4) {
    width: 150px;
}

body[lang="en"] div#game_menu div:nth-child(4):hover {
    background-position: 168px -120px;
}

div#game_menu div:nth-child(4):hover {
    background-position: 204px -120px;
}

div#game_menu div:nth-child(5) {
    width: 204px;
    background-position: 0 -160px;
}

body[lang="en"] div#game_menu div:nth-child(5) {
    width: 167px;
}

div#game_menu div:nth-child(5):hover {
    background-position: 204px -160px;
}

body[lang="en"] div#game_menu div:nth-child(5):hover {
    background-position: 168px -160px;
}

div#credits_panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #171717;
    background-size: auto 200%;
    background-repeat: no-repeat;
    background-image: url(interface/title_bg.jpg);
    visibility: hidden;
}

body[lang="ru"] div#credits_panel {
    background-position: center top;
}

body[lang="en"] div#credits_panel {
    background-position: center bottom;
}

div#credits_exit {
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 0;
    margin-bottom: 20px;
    right: 0;
    margin-right: 20px;
    background-image: url("interface/help_exit.png");
}

body[lang="en"] div#credits_panel div#credits_exit {
    background-position: -120px 0;
}

body[lang="ru"] div#credits_panel div#credits_exit:hover {
    background-position: 0 -40px;
}

body[lang="en"] div#credits_panel div#credits_exit:hover {
    background-position: -120px -40px;
}

div#authors_list_exit {
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 0;
    margin-bottom: 20px;
    right: 0;
    margin-right: 20px;
    background-image: url("interface/help_exit.png");
}

body[lang="en"] div#authors_list_exit {
    background-position: -120px 0;
}

body[lang="ru"] div#authors_list_exit:hover {
    background-position: 0 -40px;
}

body[lang="en"] div#authors_list_exit:hover {
    background-position: -120px -40px;
}

div#authors {
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body[lang="ru"] div#credits_panel div#authors {
    background-image: url(interface/authors_ru.png);
    width: 29vh;
    margin-top: 26vh;
    height: 9vh;
}

body[lang="en"] div#credits_panel div#authors {
    background-image: url(interface/authors_en.png);
    width: 40vh;
    margin-top: 26vh;
    height: 9vh;
}

.centered_x {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centered_y {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centered_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#copyrights {
    position: absolute;
    width: 18vh;
    height: 4vh;
    bottom: 0;
    left: 50%;
    margin-bottom: 20px;
    background-image: url(interface/copyrights.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#help_panel {
    width: 616px;
    height: 466px;
    text-align: center;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

span.help_descr {
    font-family: "Linux_Biolinum_Bold";
    font-size: 15px;
    margin-top: 52px;
    display: inline-block;
    color: #fff;
    text-align: left;
    font-weight: bold;
    line-height: 1.25;
}

body[lang="ru"] span.help_descr.en {
    display: none;
}

body[lang="en"] span.help_descr.ru {
    display: none;
}

body[lang="ru"] div#help_panel[mobile="0"] {
    background-image: url(interface/help_desk_ru.png);
}

body[lang="en"] div#help_panel[mobile="0"] {
    background-image: url(interface/help_desk_en.png);
}

body[lang="ru"] div#help_panel[mobile="1"] {
    background-image: url("interface/help_tab_ru.png");
    height: 446px;
}

body[lang="en"] div#help_panel[mobile="1"] {
    background-image: url("interface/help_tab_en.png");
    height: 446px;
}

div.move_control {
    margin-top: 62px;
    text-align: left;
}

div.move_control div:last-child {
    margin-top: 32px;
}

div.move_control span {
    color: #fff;
    font-family: "Linux_Biolinum";
    font-size: 15px;
}

div.move_control span:first-child {
    margin-left: 116px;
}

div.move_control div:first-child span:last-child {
    margin-left: 100px;
}

div.move_control div:last-child span:last-child {
    margin-left: 108px;
}

div.additional_panel {
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    visibility: hidden;
}

div#back_to_menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-image: url("interface/back_to_menu.png");
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
}

body[lang="en"] div#back_to_menu {
    width: 259px;
    height: 57px;
}

body[lang="en"] div#back_to_menu {
    width: 223px;
    height: 57px;
    background-position: 0 -114px;
}

body[lang="ru"] div#back_to_menu:hover {
    background-position: 0 -57px;
}

body[lang="en"] div#back_to_menu:hover {
    background-position: 0 -171px;
}

div#under_construct {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 68px;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
}

body[lang="ru"] div#under_construct {
    width: 610px;
    height: 200px;
    background-image: url("interface/under_const_ru.png");
}

body[lang="en"] div#under_construct {
    width: 520px;
    height: 200px;
    background-image: url("interface/under_const_en.png");
}

@media (max-width: 640px) {
    div#under_construct {
        -moz-transform: scale(0.5) translateX(-100%);
        -ms-transform: scale(0.5) translateX(-100%);
        -webkit-transform: scale(0.5) translateX(-100%);
        transform: scale(0.5) translateX(-100%);
    }
}

div#canvas_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

div#game_menu_calling {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 57px;
    background-image: url("interface/game_menu_calling.png");
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

body[lang="ru"] div#game_menu_calling {
    width: 259px;
}

body[lang="en"] div#game_menu_calling {
    width: 223px;
    background-position: -259px 0;
}

body[lang="ru"] div#game_menu_calling:hover {
    background-position: 0 -57px;
}

body[lang="en"] div#game_menu_calling:hover {
    background-position: -259px -57px;
}

div#help_exit {
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 0;
    margin-bottom: 84px;
    left: 50%;
    background-image: url("interface/help_exit.png");
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#help_panel[mobile="1"] div#help_exit {
}

body[lang="en"] div#help_panel div#help_exit {
    background-position: -120px 0;
}

body[lang="ru"] div#help_panel div#help_exit:hover {
    background-position: 0 -40px;
}

body[lang="en"] div#help_panel div#help_exit:hover {
    background-position: -120px -40px;
}

@media (max-height: 420px) {
    body[lang="ru"] div#help_panel[mobile="1"] {
        width: 454px;
        height: 300px;
        background-image: url(interface/help_mobile_ru.png);
    }

    body[lang="en"] div#help_panel[mobile="1"] {
        width: 454px;
        height: 300px;
        background-image: url(interface/help_mobile_en.png);
    }

    span.help_descr {
        font-size: 12px;
        margin-top: 28px;
    }

    div#help_exit {
        margin-bottom: 40px;
        -moz-transform: translateX(-50%) scale(0.75);
        -ms-transform: translateX(-50%) scale(0.75);
        -webkit-transform: translateX(-50%) scale(0.75);
        transform: translateX(-50%) scale(0.75);
    }

    body[lang="en"] div#help_panel div#help_exit {
        background-position: -120px 0;
    }

    body[lang="ru"] div#help_panel div#help_exit:hover {
        background-position: 0 -40px;
    }

    div#game_menu {
        width: 234px;
        height: 272px;
        background-image: url(interface/game_menu_mobile.png);
    }

    div#credits_exit,
    div#game_menu div {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    div#game_menu_calling {
        -moz-transform: translateX(-50%) scale(0.75);
        -ms-transform: translateX(-50%) scale(0.75);
        -webkit-transform: translateX(-50%) scale(0.75);
        transform: translateX(-50%) scale(0.75);
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }

    div#credits_exit {
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    div#game_menu div {
        margin-bottom: -4px;
    }

    @media (orientation: landscape) {
        div#preloader_cont {
            background-size: auto 520px;
        }

        div#prelod_static_path {
            margin-top: -72px;
            -moz-transform: scale(0.69);
            -ms-transform: scale(0.69);
            -webkit-transform: scale(0.69);
            transform: scale(0.69);
        }
    }
}

@media (max-width: 420px) and (orientation: portrait) {
    div#preloader_cont {
        background-size: auto 420px;
    }

    div#prelod_static_path {
        margin-top: -72px;
        -moz-transform: scale(0.69);
        -ms-transform: scale(0.69);
        -webkit-transform: scale(0.69);
        transform: scale(0.69);
    }
}

div#authors_click_area {
    width: 100%;
    height: 5vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

div#authors_click_area:hover {
    cursor: pointer;
}

div#authors_list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
}

div#authors_list > div.list {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body[lang="en"] div#authors_list > div.list.ru {
    display: none;
}

body[lang="ru"] div#authors_list > div.list.en {
    display: none;
}

div#authors_list > div.list > span {
    font-family: "Linux_Biolinum", sans-serif;
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
}

div#authors_list > div.list > span.develop_kind {
    font-size: 24px;
    color: #E0EA5D;
}

@media (max-width: 420px) and (orientation: portrait) {
    div#authors_list > div.list > span.develop_kind {
        font-size: 24px;
        color: #E0EA5D;
    }
}

@media (max-width: 620px) and (orientation: portrait) {
    div#authors_list > div.list {
        -moz-transform: translateY(-50%) scale(0.45);
        -ms-transform: translateY(-50%) scale(0.45);
        -webkit-transform: translateY(-50%) scale(0.45);
        transform: translateY(-50%) scale(0.45);
    }

    div#authors_list_exit {
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@media (max-height: 620px) and (orientation: landscape) {
    div#authors_list > div.list {
        -moz-transform: translateY(-50%) scale(0.45);
        -ms-transform: translateY(-50%) scale(0.45);
        -webkit-transform: translateY(-50%) scale(0.45);
        transform: translateY(-50%) scale(0.45);
    }

    div#authors_list_exit {
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

div#soc_cont {
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    height: 160px;
    background-image: url(interface/soc_bg_desk.png);
}

div#soc_cont a {
    width: 100%;
    height: 100%;
    display: block;
}

body[lang="ru"] div#soc_cont a[lang="en"] {
    display: none;
}

body[lang="en"] div#soc_cont a[lang="ru"] {
    display: none;
}

div#soc_cont > div.brand {
    width: 76px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 72px;
    background-image: url(interface/brand.png);
}

div#soc_cont > div.brand.hover {
    background-position: -76px 0;
}

div#soc_cont > div.soc {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    background-image: url(interface/soc_btns_desk.png);
}

body[lang="ru"] div#soc_cont > div.soc {
    margin-right: 31px;
    width: 68px;
    height: 72px;
}

body[lang="ru"] div#soc_cont > div.soc.hover {
    background-position: -68px 0;
}

body[lang="en"] div#soc_cont > div.soc {
    width: 57px;
    height: 75px;
    margin-right: 42px;
    background-position: 0 -72px;
}

body[lang="en"] div#soc_cont > div.soc.hover {
    background-position: -57px -72px;
}

@media (max-height: 320px) and (orientation: landscape) {
    div#soc_cont {
        width: 145px;
        height: 165px;
        background-image: url(interface/soc_bg_mobile.png);
    }

    div#soc_cont > div.brand {
        width: 53px;
        height: 55px;
        background-size: 106px 55px;
        margin-top: auto;
        margin-left: 73px;
        margin-bottom: 55px;
        top: auto;
        bottom: 0;
    }

    div#soc_cont > div.brand.hover {
        background-position: -53px 0;
    }

    div#soc_cont > div.soc {
        position: absolute;
        height: 35px;
        margin-top: 10px;
        background-image: url(interface/soc_btns_mobile.png);
    }

    body[lang="ru"] div#soc_cont > div.soc,
    body[lang="en"] div#soc_cont > div.soc {
        margin-right: 28px;
        width: 35px;
    }

    body[lang="en"] div#soc_cont > div.soc {
        background-position: 0 -35px;
    }

    body[lang="ru"] div#soc_cont > div.soc.hover {
        background-position: -35px 0;
    }

    body[lang="en"] div#soc_cont > div.soc.hover {
        background-position: -35px -35px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    div#soc_cont {
        width: 145px;
        height: 165px;
        background-image: url(interface/soc_bg_mobile.png);
    }

    div#soc_cont > div.brand {
        width: 53px;
        height: 55px;
        background-size: 106px 55px;
        margin-top: auto;
        margin-left: 73px;
        margin-bottom: 55px;
        top: auto;
        bottom: 0;
    }

    div#soc_cont > div.brand.hover {
        background-position: -53px 0;
    }

    div#soc_cont > div.soc {
        position: absolute;
        height: 35px;
        margin-top: 10px;
        background-image: url(interface/soc_btns_mobile.png);
    }

    body[lang="ru"] div#soc_cont > div.soc,
    body[lang="en"] div#soc_cont > div.soc {
        margin-right: 28px;
        width: 35px;
    }

    body[lang="en"] div#soc_cont > div.soc {
        background-position: 0 -35px;
    }

    body[lang="ru"] div#soc_cont > div.soc.hover {
        background-position: -35px 0;
    }

    body[lang="en"] div#soc_cont > div.soc.hover {
        background-position: -35px -35px;
    }
}

div#product_info {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30%;
    padding-left: 42px;
}

div#product_info p {
    color: #f6dd96;
    display: none;
    margin: 0;
    margin-top: 20px;
    font-family: "Linux_Biolinum";
    line-height: 1.25;
}

body[lang="ru"] div#product_info p[lang="ru"] {
    display: block;
}

body[lang="en"] div#product_info p[lang="en"] {
    display: block;
}

@media (max-height: 320px) and (orientation: landscape) {
    div#product_info p {
        font-size: 10px;
        margin-top: 10px;
    }

    div#product_info {
        padding-left: 28px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    div#product_info p {
        font-size: 10px;
        margin-top: 10px;
    }

    div#product_info {
        padding-left: 28px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    div#product_info p {
        font-size: 10px;
    }
}
